@model ArtEShop.Domain.DTO.PaymentDTO;


<div class="container justify-content-center align-items-center m-5" >
    <div class="container-fluid justify-content-center" style="width:500px">
        <form asp-action="Payment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5>Payment Details</h5>
            <div class="form-group">
                <label asp-for="CardName" class="control-label">Card Name</label>
                <input required asp-for="CardName" class="form-control" />
                <span asp-validation-for="CardName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="CardNumber" class="control-label">Card Number</label>
                <input required asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="d-flex mt-2 justify-content-between">
                <div class="form-group" style="width:80px">
                    <label asp-for="ExpiryDate" class="control-label">Expiry Date</label>
                    <input required asp-for="ExpiryDate" class="form-control" style="width:80px" />
                    <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:80px">
                    <label asp-for="CVV" class="control-label"></label>
                    <input required asp-for="CVV" class="form-control" style="width:80px" />
                    <span asp-validation-for="CVV" class="text-danger"></span>
                </div>
            </div>
            </br>
            <h5>Billing Address</h5>
            <div class="d-flex justify-content-between">
                <div class="form-group">
                    <label asp-for="BillingAddress" class="control-label">Billing Address</label>
                    <input required asp-for="BillingAddress" class="form-control" />
                    <span asp-validation-for="BillingAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input required asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>
                    <input required asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ZipCode" class="control-label">Zip Code</label>
                    <input required asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" asp-for="Email" />


            <h2 class="mt-3">You have to pay: @Model.TotalPrice EUR</h2>
            <input type="hidden" asp-for="ArtPieceId" />


            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-primary" />
            </div>
        </form>
    </div>
       
</div>
